---
import '@Styles/tokens.css';
import '@Styles/base.css';
import '@Styles/typography.css';
import '@Styles/site.css';
import '@Styles/content.css';
import '@Styles/gallery.css';
import '@Styles/table.css';
import { ASSETS } from '@Design/Assets.astro';

const { title = "Faelis Paw Artistry", description = "Furry Art & Commissions" } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="icon" type="image/webp" href={ASSETS.favicon.src} />
    <link rel="preload" href="/fonts/Grandstander-400-700.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/FuzzyBubbles-400-700.woff2" as="font" type="font/woff2" crossorigin>
  </head>
  <body style={`--background-image: url(${ASSETS.bg.src});`}>
   
    <header class="site-header">
      <a href="/"><img class="header-logo" src={ASSETS.logo.src} alt="Faelis.Art" /></a>
      <nav class="site-nav">
         <a href="/galleries">Gallery</a>
         <a href="/pricing">Pricing</a>
         <a href="/imprint">Imprint</a>
      </nav>
    </header>

    <div class="container">
      <main class="panel">
        <slot />
      </main>
    </div>

    <footer class="site-footer">
      © {new Date().getFullYear()} faelis.ART — Site made with ♥ by <a href="https://lucy.foxx.pet/">Lucy Foxx</a> — <a href="/imprint">Imprint</a>
    </footer>
  </body>
</html>
